.main-container{
    background: rgb(231, 248, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reqLink{
    text-align: start;
    margin-top: 40px;
    margin-left: -650px;
    color:  rgb(152, 60, 238);
}
.reqLink p {
    color: black;
    padding-top: 20px;
}